/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* for all */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/003d7b3ab63888a51de687c575ddcd79c73087b7.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 15px;
  padding: 10px 20px;
  width: 400px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form-container h2 {
  font-size: 30px;
  font-weight: 500;
  color: #002244;
  margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container textarea,
.form-container input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}

.form-container .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-container button {
  width: 48%;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.form-container .cancel-btn {
  background-color: #e0e0e0;
  color: #133a5e;
}

.form-container .post-btn {
  background-color: #133a5e;
  color: white;
}

.form-container button:hover {
  opacity: 0.9;
  scale: 1.07;
}
